@model Dictionary<int, Reservation>

@{
    ViewData["Title"] = "Lista Rezerwacji";
}

<h2>Lista Rezerwacji</h2>
<table class="table">
    <tr>
        <th>Data</th>
        <th>Miasto</th>
        <th>Adres</th>
        <th>Pokój</th>
        <th>Właściciel</th>
        <th>Cena</th>
        <th>Akcje</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Value.Data.ToShortDateString()</td>
            <td>@item.Value.Miasto</td>
            <td>@item.Value.Adres</td>
            <td>@item.Value.Pokój</td>
            <td>@item.Value.Właściciel</td>
            <td>@item.Value.Cena</td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Value.Id">Edytuj</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Value.Id">Szczegóły</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Value.Id">Usuń</a>
            </td>
        </tr>
    }
</table>
