@{
    ViewData["Title"] = "Reservation Result";
}

<h3>Rezerwacja:</h3>
<p>Data: @ViewBag.Data</p>
<p>Miasto: @ViewBag.Miasto</p>
<p>Adres: @ViewBag.Adres</p>
<p>Pokój: @ViewBag.Pokój</p>
<p>Właściciel: @ViewBag.Właściciel</p>
<p>Cena: @ViewBag.Cena</p>
